.l-question-column {
  float: left;
  width: 350px;
}
.b-question-column {
  
}
.b-question-column textarea {
  width: 100%;
}
.l-answers-column {
  margin-left: 400px;  
}

.b-answers-column {

}

.b-clearer {
  clear: both;
}
.b-question-body-label {}
.b-question-body {
  height: 300px;
}
.b-answers-title {}
.b-answer {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;

  background-color: #7E7E7E;
  padding: 1em 1.5em 1em 1em;
  margin-bottom: .5em;
}
.b-answers-title,
.b-question-body-label {
  padding-bottom: 5px;
  display: block;
}
.b-answer-body {
  width: 100%;
}
.l-answer-body {
  margin-right: 30px;  
}

.b-answers-actions {
  margin: 1em 0;
}
.b-add-answer-link {
  background: url("../../images/admin/plus.png") no-repeat scroll 4px 0 transparent;
  color:black;
  font-size:80%;
  padding:0 0 0 20px;
  text-decoration:none;
  cursor: pointer;
}
.b-remove-answer-link {
  background: url("../../images/admin/minus.png") no-repeat scroll 4px 6px transparent;
  color:black;
  font-size:80%;
  text-decoration:none;
  float: right;
  height: 20px;
  width: 20px;
}